* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-all {
    border: 1px solid rgba(87, 86, 86, 0.356);
    height: 2rem;
    border-radius: 5px;
}

body {
    background-color: rgba(241, 163, 163, 0.603);
}

main {
    margin-top: 5rem;
    padding: 2rem;
}